{% extends 'core/base.html' %}

{% block title %} Sitemap {% endblock %}

{% block content %}
<div class="card" style="margin-bottom: 1rem;" >
    <div class="card-body">
        <h5 class="card-title">Sitemap</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum veniam temporibus harum cumque architecto nulla quaerat maiores vero aut sunt nobis iusto perspiciatis minima omnis facere cum distinctio, animi dicta! Itaque dolores sint nisi quos nulla! Nobis, dolores rem enim minus facilis illo fugit ex inventore eaque fugiat porro laboriosam incidunt velit? Error deserunt dolorum culpa architecto accusamus maxime modi ex sequi eaque expedita cumque libero sunt, eum excepturi asperiores similique quas recusandae omnis! Officiis tempora, sequi repellendus, consequuntur odio amet nulla harum ipsam quas quam consectetur ullam vel debitis molestiae illo molestias iure alias ab, quae dicta labore nam?</p>                        
    </div>
</div>
{% endblock %}